#topbar
{
background-color:black;
height:10px;
width:100%;
color:red;
}

#footer
{
background-color:black;
height:70px;
width:100%;
clear:both;
}
#footer ul
{
float:left;
margin-top:25px;
}
#footer ul li
{
display:inline;
margin-right:20px;
}
#footer ul li a
{
color:grey;
text-decoration:none;
font-size:18px;
}
#footer p
{
color:white;
float:right;
margin-right:10px;
}